
services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: polylearner-app
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB=polylearner
      - APP_ENV=dev
    depends_on:
      - mongo
    restart: unless-stopped
  mongo:
    image: mongo:7
    container_name: polylearner-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
